.form-element-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin: 1rem; */
}

.nav-menu {
    margin: 5px 5px 5px 5px;
}

.form-element-container > label {
    margin: 5px;
}

.logo {
    text-align: center;
    margin-top: 2rem;
}

.logo-list {
    display: flex;
    flex-direction: row;
}

.logo-list  li{
    margin: 10px;
}

footer .columns {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer {
    padding: 2rem !important;
    margin-bottom: 2rem !important;
}

footer .columns {
    margin-bottom: -2.6rem !important; 
}

.portfolio img {
    width: 100%;
}

.poster {
    margin: 0;
}

.columns {
    margin: 1% !important;
}

body {
    display: flex;
    flex-direction: column;
}

figcaption {
    padding: 1rem;
}

figure {
    margin-top: 1rem !important;
    margin-bottom: 2rem !important;
}